In [2]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
tour = pd.read_csv('../data/spain/listings.csv')

In [4]:
tour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6494 entries, 0 to 6493
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6494 non-null   int64
 1   name                            6494 non-null   object
 2   host_id                         6494 non-null   int64
 3   host_name                       6494 non-null   object
 4   neighbourhood_group             6494 non-null   object
 5   neighbourhood                   6494 non-null   object
 6   latitude                        6494 non-null   float64
 7   longitude                       6494 non-null   float64
 8   room_type                       6494 non-null   object
 9   price                           6494 non-null   int64
 10  minimum_nights                  6494 non-null   int64
 11  number_of_reviews               6494 non-null   int64
 12  last_review                     5755 non-null   object
 13  reviews_per_month               5755 non-null   float64
 14  calculated_host_listings_count  6494 non-null   int64
 15  availability_365                6494 non-null   int64
 16  number_of_reviews_ltm           6494 non-null   int64
 17  license                         6351 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 913.3+ KB

In [7]:
tour.shape

(6494, 18)

In [8]:
tour.describe

<bound method NDFrame.describe of                       id                                               name  \
0                  32347  Explore Cultural Sights from a Family-Friendly...
1                  49287                     BEAUTIFUL APARTMENT IN SEVILLE
2                  94187   (2) ROOM + PRIVATE BATHROOM. CASA DEL BUEN VIAJE
3                 108236                    Sunny apt in heart of seville!!
4                 108568              TERRACE ALAMEDA. WIFI GARAGE DOWNTOWN
...                  ...                                                ...
6489  722585828571535768                             Casa Rodrigo de Triana
6490  722856083651882813      Precioso apartamento en el centro de Sevilla.
6491  723001471609183393      Charming 2 Bedroom Apartment by Triana Bridge
6492  723120570679932191        Un lugar de fácil acceso a todo los lugares
6493  723888108373004059                    San Felipe - Vacacional Sevilla

        host_id         host_name neighbourhood_group         neighbourhood  \
0        139939         Alejandro       Casco Antiguo           San Vicente
1        224697            Walter       Casco Antiguo           San Lorenzo
2        503692            Margot       Casco Antiguo         San Bartolomé
3        560040              Pepe       Casco Antiguo           San Lorenzo
4        589600            Miguel       Casco Antiguo           San Lorenzo
...         ...               ...                 ...                   ...
6489  480764897  Francisco Javier              Triana  Triana Casco Antiguo
6490  132656758           Alfonso       Casco Antiguo            San Julián
6491   43776522             Simon              Triana  Triana Casco Antiguo
6492  207481176         Clemencia       Cerro - Amate           Los Pajaros
6493  361142402          Vacional       Casco Antiguo   Encarnación, Regina

       latitude  longitude        room_type  price  minimum_nights  \
0     37.393580  -5.999750  Entire home/apt     99               2
1     37.398980  -5.995330  Entire home/apt     75               3
2     37.388160  -5.985370     Private room     79               2
3     37.397940  -5.997950  Entire home/apt     84               2
4     37.399410  -5.993790  Entire home/apt     85               3
...         ...        ...              ...    ...             ...
6489  37.383325  -6.002522  Entire home/apt     56               2
6490  37.396228  -5.984895     Private room     60               1
6491  37.383568  -6.002827  Entire home/apt     83               1
6492  37.381311  -5.958122     Private room     32               1
6493  37.393112  -5.988895  Entire home/apt    104               1

      number_of_reviews last_review  reviews_per_month  \
0                   168  2020-01-08               1.18
1                    42  2020-02-17               0.30
2                    86  2022-06-06               0.64
3                   160  2022-09-19               1.16
4                   103  2022-09-08               0.77
...                 ...         ...                ...
6489                  0         NaN                NaN
6490                  0         NaN                NaN
6491                  0         NaN                NaN
6492                  0         NaN                NaN
6493                  0         NaN                NaN

      calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                                  1               117                      0
1                                  1               241                      0
2                                  6               360                     11
3                                  2                44                      8
4                                 10               119                     22
...                              ...               ...                    ...
6489                               1               160                      0
6490                               1               211                      0
6491                               3                83                      0
6492                               5               365                      0
6493                              18               257                      0

             license
0     CTC-2018150852
1       VFT/SE/01116
2         H/SE/01244
3       VFT/SE/05126
4       VFT/SE/00748
...              ...
6489    VFT/SE/03399
6490    VFT/SE/09983
6491    VFT/SE/09509
6492          Exempt
6493    VFT/SE/03047

[6494 rows x 18 columns]>

In [9]:
tour.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
6490,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
6491,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
6492,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
6493,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False

In [11]:
tour.shape

(6494, 18)

In [12]:
tour.size

116892

In [4]:
tour.corr().style.background_gradient(cmap='coolwarm')

/var/folders/64/dpzy7wq53p50r8jpz2tqkqbr0000gn/T/ipykernel_3560/1789832804.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  tour.corr().style.background_gradient(cmap='coolwarm')

In [16]:



pip install jinja2

Collecting jinja2
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.1/133.1 kB 1.1 MB/s eta 0:00:00a 0:00:01
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.1-cp310-cp310-macosx_10_9_x86_64.whl (13 kB)
Installing collected packages: MarkupSafe, jinja2
Successfully installed MarkupSafe-2.1.1 jinja2-3.1.2

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.